<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.BoardDAO">
	<!-- namespace 겹치지 않은 이름으로 지정 세미콜론 넣으면 안된다 프리페어객체로 들어간다 태그를 생성하면 id를 생성한다 
		아이디 중복이 있으면 안된다 구분하기 위해 특정 id값을 부여가 핋요하다 board.dao.BoardDAO.insert 로 호출한다 
		nampspace+id -->
	<insert id="insert" parameterType="kr.ac.kopo.board.vo.BoardVO">
		insert into tbl_job_post (
		post_id, title, writer_id, content, location, pay,
		work_time, reg_date, deadline
		) values (
		seq_job_post.NEXTVAL,
		#{title},
		#{writerId},
		#{content},
		#{location},
		#{pay},
		#{workTime},
		TO_DATE(#{regDate}, 'YYYY-MM-DD'),
		TO_DATE(#{deadline}, 'YYYY-MM-DD')
		)
	</insert>

</mapper>